.add-new-h2{display:none;}
	.post-type-agenda .add-new-h2{display:inline;}
.post-type-agenda #view-post-btn,
.post-type-agenda #message.updated a,
.post-type-agenda #preview-action,
.post-type-agenda .row-actions .view,
#adminmenuback,
#adminmenuwrap,
#headimg h1,
#headimg #desc{display:none;}

#wpcontent, #wpfooter{margin:0 auto;max-width:1110px;padding:0 20px;}

#page.aeh{float:left;height:90px;width:100%;display:block;}
	#page.aeh a.navi{color:#0074A2;text-decoration:none;display: inline-block;float: left;height: auto;margin: 10px .5%;padding: 21px 7px;text-align: center;width: 22%; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */border:1px solid #ccc;
transition:0.2s all;-webkit-transition:0.2s all;-moz-transition:0.2s all;-ms-transition:0.2s all;-o-transition:0.2s all;}
	#page.aeh a.navi.agenda {height: 64px;padding: 4px 7px;}
	#page.aeh a.navi:hover{box-shadow:0 0 4px rgba(0, 0, 0, 0.1);color:#666;background: #e5e5e5; /* Old browsers */
background: -moz-linear-gradient(top,  #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e5e5e5 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

input[data_field_name="workshop"]{display:none;}